.idea
.DS_Store

api/.bundle
api/log/*
api/tmp/*
api/log/.keep
api/tmp/.keep
api/storage/*
api/storage/.keep
api/.byebug_history
api/config/master.key
api/vendor/bundle

front/react-app/node_modules
front/react-app/.pnp
front/react-app/.pnp.js
front/react-app/coverage
front/react-app/build
